.mainCounter{
    text-align: center;
    background-color: black;
    margin: 15px;
}

.mainCounter div{
    display: inline-block;
    font-size: 100px;
    color: white;
    background-color: black; 
    padding: 15px;
}

